<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="stylerest.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <ul class="navbar-nav d-flex flex-row justify-content-center">
            <li class="nav-item me-4">
                <a class="nav-link fw-bold" asp-page="/Index">Главная</a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link fw-bold" asp-page="/Menu">Меню</a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link fw-bold" asp-page="/Zakaz">Заказ столиков</a>
            </li>
            <li class="nav-item me-4 fw-bold">
                <a class="nav-link" asp-page="/Restaurant">Контакты</a>
            </li>
            <li class="nav-item me-4 fw-bold">
                <a class="nav-link" asp-page="/Spisok">Адреса сети ресторана</a>
            </li>
            <li class="nav-item me-4 fw-bold">
                <a class="nav-link" asp-page="Account/Login">Личный кабинет</a>
            </li>
             <li class="nav-item me-4 fw-bold">
                <a href="tel:+89183586812" class="btn btn-dark w-100">позвонить 📞</a>
            </li>
        </ul>
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)

</body>

</html>
