@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<h2>Доступ запрещен</h2>
<p>У вас нет прав для просмотра этой страницы.</p>

<a asp-page="/Account/Index">Вернуться на главную</a>
