@page
@{
    ViewData["Title"] = "Авторизация";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container mt-5">
    <form id="loginForm"
          class="container col-6 rounded p-3 mt-3 position-absolute top-50 start-50 translate-middle shadow-lg">
        <div class="row m-3">
            <h2 class="text-center">Вход</h2>
        </div>
        <div class="row mt-3">
            <div class="col-3"><label>Email</label></div>
            <div class="col-9">
                <input id="email" class="form-control border border-secondary focus-ring focus-ring-dark" type="email" required />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3"><label>Пароль</label></div>
            <div class="col-9">
                <input id="password" class="form-control border border-secondary focus-ring focus-ring-dark" type="password" required />
                <p id="errorMessage" class="text-danger mt-2"></p>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-dark w-100">Войти</button>
        </div>
    </form>
</div>

<script src="~/js/login.js"></script>
