@page
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container w-25 rounded-4 text-start p-3 mt-3">
    <div class="container rounded-4 p-3">

        <div class="mt-3 pb-3">
            <a class="nav-link d-flex align-items-center" href="/Admin/ZakazAdmin">
                <img src="/image/dishes/Zakaz.png" class="p-2" width="100">
                <span class="p-2 fs-5 fw-bold">Мои заказы</span>
            </a>
        </div>
        
        <div class="mt-3 pb-3 text-center">
                <button id="logout" class="btn btn-dark">Выйти</button>
        </div>

    </div>
</div>

@section Scripts {
<script src="~/js/UserAccount.js"></script>
}