@page
@{
    ViewData["Title"] = "Добавить пользователя";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container rounded-4 p-3 mt-3 w-50">
    <h2 class="text-center">Добавить пользователя</h2>
    <form id="addUserForm">
        <div>
            <label class="form-label fw-semibold">Фамилия</label>
            <input name="SurName" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>
        <div>
            <label class="form-label fw-semibold">Имя</label>
            <input name="Name" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>
        <div>
            <label class="form-label fw-semibold">Отчество</label>
            <input name="Patronomic" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>
        <div>
            <label class="form-label fw-semibold">Логин</label>
            <input name="UserName" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>
        <div>
            <label class="form-label fw-semibold">Пароль</label>
            <input name="Password" type="password" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>
        <div>
            <label class="form-label fw-semibold">E-mail</label>
            <input name="Email" type="email" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>
        <div>
            <label class="form-label fw-semibold">Телефон</label>
            <input name="PhoneNumber" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>
        <div>
            <label class="form-label fw-semibold">Дата рождения</label>
            <input name="Birthdate" type="date" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>
        <div>
            <label class="form-label fw-semibold">Роль</label>
            <select name="IdRole" class="form-select border-secondary focus-ring focus-ring-dark" required></select>
        </div>
        <div class="form-check">
            <input name="IsActive" type="checkbox" class="form-check-input bg-dark border border-secondary focus-ring focus-ring-dark" checked />
            <label class="form-check-label fw-semibold">Активен</label>
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-dark">Добавить</button>
            <a href="/Admin/AdminUsers" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/addUser.js"></script>
}
