@page
@model AdminPanelModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container  rounded-4">
        </div>
        <div class=" mt-3 pb-3">
            <a class="nav-link ms-4" asp-page="/Admin/ZakazAdmin"><img src="/image/dishes/Zakaz.png" width="80" class="rounded-5"></a>
        </div>
        <div class=" mt-3 pb-3">
             <a class="nav-link ms-4" asp-page="/Admin/MenuAdmin"><img src="/image/dishes/Menu.jpg" width="80" class="rounded-5"></a>
        </div>
        <div class=" mt-3 pb-3">
            <a href="/Account/Login"><button class="btn btn-dark">Выйти</button></a>
        </div>
    </div>
</div>
