@page
@{
    ViewData["Title"] = "Список пользователей";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container rounded-4 text-center p-3 mt-3">
    <h2 class="mb-4">Список пользователей</h2>

    <div class="scrollable-table">
        <table class="table table-bordered" id="usersTable">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Логин</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                    <th>Роль</th>
                    <th>Активен</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="p-3">
        <a href="/Admin/AdminPanel"><button class="btn btn-dark">Назад</button></a>
        <a href="/Admin/AddUsers" class="btn btn-success">Добавить пользователя</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/adminUsers.js"></script>
}