@page
@{
    @* Layout = "_Layout"; *@
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container  rounded-4">
        <h3 class="pt-4">Удалить бронирование ?</h3>

        <form class="pb-4" id="deleteForm">
            <input type="hidden" id="reservationId" />
            <div id="reservationInfo"></div>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="/Admin/ZakazAdmin" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>
<script src="/js/deleteReservation.js"></script>
<script>
    // Пример: подставим id из query (?id=123)
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get("id");
    if (id) loadReservation(id);
</script>