@page
@model EditReservationModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="zakaz mt-4 p-3 rounded-4 w-50" style="margin-left: 25%; overflow-y: auto;">
    <h2 class="text-center mb-2">Редактирование заказа</h2>
    <form id="editReservationForm">
        <input type="hidden" id="reservationId" />

        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" id="name" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" id="email" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <div class="mb-3">
            <label class="form-label">Телефон</label>
            <input type="tel" id="phone" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <div class="mb-2">
            <label class="form-label fw-semibold">Выберите дату</label>
            <div id="datesContainer" class="mb-2"></div>
            <input type="hidden" id="selectedDate">
        </div>

        <div class="mb-2">
            <label class="form-label fw-semibold">Выберите время</label>
            <div id="timesContainer" class="mb-2"></div>
            <input type="hidden" id="selectedTime">
        </div>

        <div class="mb-3">
            <label class="form-label">Гости</label>
            <input type="number" id="guests" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <div class="mb-3">
            <label class="form-label">Сообщение</label>
            <textarea id="message" class="form-control border border-secondary focus-ring focus-ring-dark"></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Сохранить</button>
        <a href="/Admin/ZakazAdmin" class="btn btn-secondary">Отмена</a>
    </form>
</div>


@section Scripts {
    <script src="~/js/adminzakaz.js"></script>
    <partial name="_ValidationScriptsPartial" />
}