@page "{id?}"
@{
    ViewData["Title"] = "Редактировать блюдо";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5 p-3 rounded-4 w-50">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-3"
            onclick="window.location.href='/Admin/MenuAdmin';"></button>
    <h2 class="text-center mb-2">Редактирование блюда</h2>

    <form id="editDishForm" enctype="multipart/form-data">
        <input type="hidden" name="DishID" id="DishID" />

        <div class="mb-3">
            <label class="form-label">Название блюда</label>
            <input name="DishName" id="DishName" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Цена</label>
            <input name="Price" id="Price" type="number" step="0.01" class="form-control border border-secondary focus-ring focus-ring-dark" required />
        </div>
        
        <p>Текущая картинка<p/>

        <div class="mb-3" id="currentImageContainer"></div>

        <div class="mb-3">
            <label class="form-label">Новая картинка</label>
            <input type="file" name="images" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" name="RemoveImage" class="form-check-input bg-dark border border-secondary focus-ring focus-ring-dark" id="removeImage" />
            <label for="removeImage" class="form-check-label">Удалить картинку</label>
        </div>

        <div class="mb-3">
            <label class="form-label">Ингредиенты (через запятую)</label>
            <input name="IngredientNames" id="IngredientNames" class="form-control border border-secondary focus-ring focus-ring-dark" />
        </div>

        <button type="submit" class="btn btn-dark">Сохранить</button>
        <a href="/Admin/MenuAdmin" class="btn btn-secondary ms-2">Отмена</a>
    </form>
</div>

@section Scripts {
    <script src="~/js/editMenu.js"></script>
}
