@page
@{
    ViewData["Title"] = "Меню администратора";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container rounded-4">
        <div>
            <h3 class="pt-3">Меню</h3>
            <div class="scrollable-table">
                <table class="table table-bordered mt-3" id="menuTable">
                    <thead class="table-dark">
                        <tr>
                            <th>Фото</th>
                            <th>Название блюда</th>
                            <th>Ингредиенты</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="menuBody">
                        <!-- Заполняется через JS -->
                    </tbody>
                </table>
            </div>

            <div class="mt-3 pb-3">
                <a href="/Admin/AdminPanel" class="btn btn-dark">Назад</a>
                <a href="/Admin/AddMenu" class="btn btn-success">Добавить блюдо</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/menuAdmin.js"></script>
}
