@page
@model AdminPanelModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="mt-3 p-3 text-center">
    <img src="/image/404.png" alt="В разработке" width="600">
    <div class=" mt-3 pb-3">
        <a href="/Admin/AdminPanel"><button class="btn btn-dark">Назад</button></a>
    </div>
</div>
