@page
@model MyRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="text-center">
    <div class="m-3">
        <div class="mb-4">
            <img src="./image/dvorik.jpg" class="img-thumbnail rounded-5" width="650">
        </div>
    </div>
</div>

<div class="container rounded-4 text-center p-3 w-50 mt-3" >
    <div class="container rounded-2 p-2">
        <h3 class="fw-bold">Ресторан "Уютный дворик"</h3>
        <p> Ресторан <strong>"Уютный дворик"</strong> предлагает разнообразное меню с блюдами местной и
            международной кухни, уютную атмосферу и отличный сервис.
        </p>
    </div>
</div>
