@page
@model MyRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="text-center">
   
    <div class="border border-black m-3 rounded-4 ">
        <div class="mb-4">
            <a href="/Home">home</a>
        </div>
    </div>
</div>