@page
@model MyRazorApp.Pages.RestaurantModel
@{
    ViewData["Title"] = "Войти/Зарегистрироваться";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container rounded-4 text-center p-3 w-50 mt-3" >
    <div class="container rounded-2 p-2">
        <a class="btn btn-dark w-100" asp-page="/Account/Login">Вход</a>
    </div>
</div>