@page
@model MyRazorApp.Pages.MenuModel
@{
    ViewData["Title"] = "Информация о ресторане";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container rounded-4 mt-4">
<div class="container-fluid rounded-4 mt-4 pb-5 px-4 pt-4">
    <h1 class="text-center mb-4">Меню</h1>
    <div class="scrollable-table">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 text-center">
        @foreach (var dish in Model.Dishes)
        {
            <div class="col">
                <div class="card h-100 d-flex">
                    <img src="@(string.IsNullOrEmpty(dish.DishImage) ? Url.Content("~/image/no-photo.jpg") : dish.DishImage)"
                         class="card-img-top img-fluid" alt="@dish.DishName">
                    <div class="card-body d-flex flex-column justify-content-center text-center">
                        <h5 class="card-title">@dish.DishName</h5>
                        <p class="card-text">
                            @string.Join(", ", dish.DishIngredients.Select(di => di.Ingredients.IngredientName))
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
</div>
</div>
