@page
@model MyRazorApp.Pages.RestaurantModel
@{
    ViewData["Title"] = "Контакты";
    Layout = "/Pages/Shared/_Layout.cshtml";

}
    <div class="cotainer w-75">
        <div class="restaurant-addresses rounded-4 text-center p-3">
            <div class="container rounded-2 p-2">
                <h3 class="fw-bold">Ресторан "Уютный дворик"</h3>
                <p><strong>Адрес:</strong> г.Сочи, ул. Примерная, 123, </p>
                <p><strong>Телефон:</strong> +7 (961) 567-89-00</p>
                <p><strong>Часы работы:</strong> Пн-Пт: 9:00 - 22:00, Сб-Вс: 10:00 - 23:00</p>
                <p><strong>Мы в сетях:</strong>
                    <br>
                <p>
                    <a asp-page="/Account/NotF404"><img src="images/ok.png" width="40" class="rounded-3"></a>
                    <a asp-page="/Account/NotF404"><img src="images/tel.png" width="40" class="rounded-3"></a>
                    <a asp-page="/Account/NotF404"><img src="images/vk.png" width="40" class="rounded-3"></a>
                    <a asp-page="/Account/NotF404"><img src="images/whats.png" width="40" class="rounded-3"></a>
                </p>
            </div>
        </div>
    </>
