@page
@model MyRazorApp.Pages.RestaurantModel
@{
    ViewData["Title"] = "Информация о ресторане";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";

}

<div class="container rounded-4 text-center p-3 position-absolute top-50 start-50 translate-middle w-50">
    <div class="container rounded-2 p-2">
        <h3 class="fw-bold">Ресторан "Уютный дворик"</h3>
        <p><strong>Адрес:</strong> г.Сочи, ул. Примерная, 123, </p>
        <p><strong>Телефон:</strong> +7 (961) 567-89-00</p>
        <p><strong>Часы работы:</strong> Пн-Пт: 9:00 - 22:00, Сб-Вс: 10:00 - 23:00</p>
        <p><strong>Мы в сетях:</strong>
            <br>
        <p>
            <a asp-page="#"><img src="image/ok.png" width="40" class="rounded-3"></a>
            <a asp-page="#"><img src="image/tel.png" width="40" class="rounded-3"></a>
            <a asp-page="#"><img src="image/vk.png" width="40" class="rounded-3"></a>
            <a asp-page="#"><img src="image/whats.png" width="40" class="rounded-3"></a>
        </p>
    </div>
</div>