@page
@model MyRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Spisok";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
    <div class="cotainer">
        <div class="restaurant-addresses">
            <div class="container rounded-4">
            <h3 class="fw-bold text-center">Адреса ресторанов <br>"Уютный дворик"</h3>
            <div class="container">
                <div class="p-3 pb-0"><strong>Адрес 1:</strong> ул. Ленина, 12, Москва</div>
                <hr>
                <div class="p-3 pt-0 pb-0"><strong>Адрес 2:</strong> пр. Мира, 34, Санкт-Петербург</div>
                <hr>
                <div class="p-3 pt-0 pb-0"><strong>Адрес 3:</strong> ул. Советская, 18, Новосибирск</div>
                <hr>
                <div class="p-3 pt-0 pb-0"><strong>Адрес 4:</strong> ул. Центральная, 5, Екатеринбург</div>
                <hr>
                <div class="p-3 pt-0 pb-3" ><strong>Адрес 5:</strong> ул. Гагарина, 22, Казань</div>
            </div>
        </div>
        </div>
    </div>

@* <div class="container mt-5 p-4 w-50 rounded-4">
<h1 class="text-center mb-4">Адреса ресторанов "Уютный уголок"</h1>

<ul class="list-group">
<li class="list-group-item">
<strong>Адрес 1:</strong> ул. Ленина, 12, Москва
</li>
<li class="list-group-item">
<strong>Адрес 2:</strong> пр. Мира, 34, Санкт-Петербург
</li>
<li class="list-group-item">
<strong>Адрес 3:</strong> ул. Советская, 18, Новосибирск
</li>
<li class="list-group-item">
<strong>Адрес 4:</strong> ул. Центральная, 5, Екатеринбург
</li>
<li class="list-group-item">
<strong>Адрес 5:</strong> ул. Гагарина, 22, Казань
</li>
</ul>
</div> *@
