@page
@model MyRazorApp.Pages.IndexModel
@{
    ViewData["Title"] = "Zakaz";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="zakaz mt-4 p-3 rounded-4 w-50" style="margin-left: 25%;">
        <h3 class="text-center mb-2">Заказ столиков</h3>
        <form>
            <div class="mb-2">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control border border-secondary focus-ring focus-ring-dark" id="name" placeholder="Ваше имя" required>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control border border-secondary focus-ring focus-ring-dark" id="email" placeholder="Ваш email" required>
            </div>

            <div class="mb-2">
                <label for="phone" class="form-label">Номер телефона</label>
                <input type="tel" class="form-control border border-secondary focus-ring focus-ring-dark" id="phone" placeholder="Ваш номер телефона" required>
            </div>

            <div class="mb-2">
                <label for="date" class="form-label">Дата бронирования</label>
                <input type="date" class="form-control border border-secondary focus-ring focus-ring-dark" id="date" required>
            </div>

            <div class="mb-2">
                <label for="time" class="form-label">Время</label>
                <input type="time" class="form-control border border-secondary focus-ring focus-ring-dark" id="time" required>
            </div>

            <div class="mb-2">
                <label for="guests" class="form-label">Количество гостей</label>
                <input type="number" class="form-control border border-secondary focus-ring focus-ring-dark" id="guests" placeholder="Количество человек" min="1" required>
            </div>

            <div class="mb-2">
                <label for="message" class="form-label">Дополнительные пожелания</label>
                <textarea class="form-control border border-secondary focus-ring focus-ring-dark" id="message" rows="3" placeholder="Ваши пожелания"></textarea>
            </div>

            <button type="submit" class="btn btn-dark w-100">Забронировать столик</button>
        </form>
    </div>