body{
    background-color:rgb(222, 222, 219);
    height: 90vh;
    text-align: center;
    background: url('./images/fon.jpg') no-repeat;
    background-size: cover ;
}
.container, .menu, .form{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);   
}
